body{ 
background-color:	#ADD8E6;
  
}
h1{
  text-align: center;
  font-size: 60px;
}
h2{
  text-align: center;
  font-size: 20px;
}

.header{
  font-family:Monospace;
  background:	#87CEEB;
  font-size: 15px;
  padding:25px;
 text-align:center;
}

#active{
  color:white;
}
a{
  color:black;
  text-decoration: none;
 padding-left: 10px;
 padding-right: 10px;
}

.member {
  padding:25px;
  background: lightgreen;
  width:50%;
}

.quote {
  font-family: "Georgia", serif;
  font-size: 1.4rem;
  color: #333;
  position: relative;
  padding: 20px 30px;
  background-color: #f9f9f9;
  border-left: 5px solid #e91e63; /* pink accent */
  border-radius: 10px;
  max-width: 600px;
}

.quote-mark {
  color: #e91e63;
  font-size: 3rem;
  font-weight: bold;
  vertical-align: top;
}

.quote-text {
  font-style: italic;
  color: #222;
}
</style>

p{ 
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

.title {
  background-color: white;
  padding:25px;
  margin:25px;
}
.Quotes{ 
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  font-family:Garamond;
  
}
